html {
  display:flex;
  overflow-y: scroll;

}

body {
  height: 100rem;
  background-color: #e9ecef;
  margin: auto;
  display:flex;
}



App {
  font-size: large;
}

.todoWrapper{
  position:relative;
  display:flex;
  flex-direction: column;
  width: 450px;
  height: 700px;
  margin: 0 auto;
  margin-top: 30%;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);
}
