.todoCreateBox {
    display: flex;
    height: 100px;
    background-color: rgb(255, 255, 255);
}

input {
    margin: auto;
    width:300px;
    height: 40px;
}

input::placeholder {
    text-align: center;
    font-size: large;
}